* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1b1b32;
}

.caixa {
    width: 500px;
    height: 650px;
    background-color: #f0f1f7;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px #adabb1;
}

.caixa h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 32px;
}

.container-filho {
    margin: 5px;
}

.container-filho > :nth-child(1) {
    padding: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.container-filho > :nth-child(1) p {
    width: 100%;
    text-align: center;
}

.inputs-search {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    justify-content: center;
    margin-top: 10px;
}

.inputs-search input {
    padding: 7px;
    font-size: 14px;
    min-width: 200px;    
}

.inputs-search button {
    padding: 7px;
    font-size: 14px;
    letter-spacing: 1px;
    margin: 0 7px;
    background-color: #7f21ab;
    border-radius: 30px;
    border: none;
    color: white;
    letter-spacing: 1px;
    font-weight: 400;
}

.container-filho > :nth-child(1) p {
    font-family: Helvetica;
    font-size: 15px;
    font-weight: 600;
}

.container-filho > :nth-child(1) input {
    width: 100px;
}

.container-filho > :nth-child(1) button {
    width: 100px;
}

.title-id {
    display: flex;
    width: 100%;
}

.title-id h2 {
    margin: auto 10px;
}

.title-id p {
    margin: auto 0;
}


.span-infos {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.classe {
    background-color: #ff6f52;
    font-weight: bold;
}

.info-div-count {
    display: flex;
}

h3 {
    font-family: helvetica;
    font-size: 18px;
    margin-top: 15px;
}

.largura, .altura {
    margin: 10px 10px;
    font-weight: 400;
    font-family: helvetica;
    font-size: 14px;    
}

.span-infos span {
    margin: 5px;
    padding: 10px;
    width: 100px;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    border-radius: 5px;
}

.status {
    padding: 10px;
    margin-top: 30px;
}

.status span {
    display: flex;
    margin-top: 3px;
}

.status span :nth-child(2) {
    text-align: end;
    width: 250px;
    padding-right: 20px;
}

.status span div {
    width: 100%;
    height: auto;
    margin: 0 3px;
    text-align: center;
    padding: 10px;
    font-style: normal;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: white;
    letter-spacing: 1px;
    background-color: #7f21ab;
}